* {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.columnfun {
  float: left;
  width: 33.33%;
  padding: 23px;
}

/* Clear floats after the columns */
.rowfun:after {
  content: "";
  display: table;
  clear: both;
}
ul.demo {
  list-style-type: circle;
  margin: 1;
  padding: 1;
}
h2 {
  font-family: stratos, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34 px;
  color: #6699CC;
}
li.list {
  font-family: statos, sans-serif;
  font-weight: 100;
  font-style: italic;
}
div.row{
  padding-left: 200px;
}
