* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

/* Create two equal columns that floats next to each other */
.columnmedia {
  float: left;
  width: 19%;
  padding: 10px;
}

.columnmedia img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.rowmedia:after {
  content: "";
  display: table;
  clear: both;
}
.column3 {
  float: left;
  width: 33.3%;
  height: 20%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row3::after {
  content: "";
  clear: both;
  display: table;
}
