li.navigation2 {
  float: right;
  color: blue;
}
table, th, td, {
  padding-right: 100px;
}
table {
  border-spacing: 0em 2em;
  text-align: center;
  padding-right:120px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-top: 0px;
}

th {
  font-size:30px;
  color:#6699CC;
  font-family: stratos-lights, sans-serif;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 0px;
}
td {
  font-family: skia, sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-right: 0px;
  border-bottom: 1pt solid #ff6633;
}
p.solid {
  border-style: solid;
  border: 3px;
  border-color: #ff6633;
  padding: 1em;
}
.boxed {
  border: 1px solid green ;
}
li {
  float: right;
}
div.pretty {
  border: 1px solid orange;
  background-color: transaparent;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
